body {
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: rgb(173, 173, 173);
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/hoofding.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: white;
}
	
header h1 {
	font-size: 90px;
	color: white;
	border: 30px black;
}

h1 {
	font-size: 90px;
}

aside {
	float: right;
	width: 20%;
	background-color: white;
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	}

article {
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #353535;	/*lichtgrijs*/
	color: aliceblue;

	}
	
footer {
	clear: both;
	text-align: center;
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
	margin-top: 0;
	padding-top: 0;
	color: aliceblue;

}

* {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px;
	font-family: Verdana, arial, sans-serif;
}

h3 {
	color: aliceblue;
}